/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/exports
/storage/app/imports
/storage/framework/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env_back
.DS_Store
/shell
/tests
